.p_music_list{
    $padding: 8px;
    &__item{
        padding: $padding;
        width: 120px;
        height: 120px;
        border-radius: 6px;
        background-color: $lightgrey;
        color: $darkgrey;
        transition: background-color 0.3s;
        display: flex;
        flex-direction: column;
        position: relative;
        &:hover{
            background-color: $grey;
        }

        &--active{
            @extend .p_music_list__item;
            background-color: $black;
            color: $white;
        }
    }
    &__icon{
        font-size: 16px;
    }
    &__playing{
        position: absolute;
        bottom: $padding;
        left: $padding;
    }
    &__time{
        text-align-last: right;
    }
}