.c_button{
    white-space: nowrap;
    padding: 8px;
    width: 100%;
    border: 1px solid #000;
    text-align: center;
    &--rounded{
        @extend .c_button;
        border-radius: 100px;
    }
}